
<h1>Create a Team and Heroes!</h1>
<h3>
  <form action="teams" method="post">
    <label for="team[name]">Team Name: </label>
    <input type="text" name="team[name]"><br>
    <label for="team[motto]">Team Motto: </label>
    <input type="text" name="team[name]"><br>

    <h2>Hero 1</h2>
    <label for="team[heros][][name]">Name: </label>
    <input type="text" name="team[heros][][name]"><br>
    <label for="team[heros][][power]">Power: </label>
    <input type="text" name="team[heros][][power]"><br>
    <label for="team[heros][][bio]">Biography: </label>
    <input type="text" name="team[heros][][bio]"><br>
    <h2>Hero 2</h2>
    <label for="team[heros][][name]">Name: </label>
    <input type="text" name="team[heros][][name]"><br>
    <label for="team[heros][][power]">Power: </label>
    <input type="text" name="team[heros][][power]"><br>
    <label for="team[heros][][bio]">Biography: </label>
    <input type="text" name="team[heros][][bio]"><br>
    <h2>Hero 3</h2>
    <label for="team[heros][][name]">Name: </label>
    <input type="text" name="team[heros][][name]"><br>
    <label for="team[heros][][power]">Power: </label>
    <input type="text" name="team[heros][][power]"><br>
    <label for="team[heros][][bio]">Biography: </label>
    <input type="text" name="team[heros][][bio]"><br>
    <h2><input type="submit" name="submit" value="submit"></h2>
  </form>
<h3>
