
<h1>
  <form action="teams" method="post">
    <label for="team[name]">Team Name: </label>
    <input type="text" name="team[name]">
    <label for="team[motto]">Team Motto: </label>
    <input type="text" name="team[name]">
    <input type="submit" name="submit" value="submit">
  </form>
<h1>
